*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}
.page-container{
  position: relative;
  height: 100%;
}
.page-avatar img{
	height: 100px;
	width: 100px;
	margin-top: 50px;
	margin-left: 50px;
}